Вы успешно зарегистрировались!<br>
<br>
Телеграм организатора:<br>
@{{ drive.admin_username }}<br>
<br>
Команды бота:<br>
/start - приветственное сообщение<br>
/help - справка<br>
/new_drive - новая поездка<br>